In [1]:
import pandas as pd
import sqlite3

In [3]:
sql_con = sqlite3.connect("switrs.sqlite")
df = pd.read_sql_query("SELECT * FROM collisions", sql_con)
df.head()

,case_id,jurisdiction,officer_id,reporting_district,chp_shift,population,county_city_location,special_condition,beat_type,chp_beat_type,...,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,primary_ramp,secondary_ramp,latitude,longitude,collision_date,collision_time,process_date
0,0081715,1941.0,11342,212,5,7,1941,0,0,not chp,...,0,0,0.0,None,None,NaN,NaN,2020-03-14,07:45:00,2020-06-22
1,0726202,3600.0,8945,064,5,5,3612,0,0,not chp,...,0,0,0.0,None,None,NaN,NaN,2020-07-26,02:50:00,2020-09-30
2,3493128,9860.0,016616,None,2,9,3600,0,1,interstate,...,0,0,0.0,None,None,NaN,NaN,2008-01-02,15:15:00,2008-08-20
3,3495044,9540.0,17076,None,1,9,1900,0,1,interstate,...,0,0,0.0,None,None,NaN,NaN,2008-01-02,11:30:00,2008-11-10
4,3503560,4316.0,15949,52,5,6,4316,0,0,not chp,...,0,0,0.0,None,None,NaN,NaN,2008-01-07,08:36:00,2008-09-23

In [4]:
df.shape

(9172565, 74)

In [5]:
df.to_csv('collisions.csv')